<div class="header-nav">
    <div class="wrapper">
          <div class="main-nav">
            <ul id="menu">

              <img class="logo-header" src="{{ section.settings.logo | img_url: "medium" }}" alt="">


          {% for link in linklists.main-menu.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li><a href="/cart">Cart</a></li>
          </ul>
          </div>
    </div>
</div>




{% schema %}
{
  "name": "header",
  "settings": [
  {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    }
  ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
